body{
  color: white;
  background-color: black;

}

.headlines{
  color: red;
}

em{
  color: yellow;
}
#h{
  color: green;
}

.images{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: red;
}
.border{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: red;
}
